<a href="https://colab.research.google.com/github/Baba905/Baba905/blob/main/Initiation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Hello git')

Hello git

In [1]:
import pandas as pd

In [19]:
ls

bin/      dev/   lib32/  NGC-DL-CONTAINER-LICENSE  root/           srv/    usr/
boot/     etc/   lib64/  opt/                      run/            sys/    var/
content/  home/  media/  proc/                     sales_data.csv  tmp/
datalab/  lib/   mnt/    python-apt/               sbin/           tools/

In [ ]:
sales = pd.read_csv('sales_data.csv')

In [24]:
sales.shape

(226072, 18)

In [32]:
#give us the column details like type of data, the name 
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226072 entries, 0 to 226071
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              226072 non-null  object
 1   Day               226072 non-null  object
 2   Month             226072 non-null  object
 3   Year              226072 non-null  int64
 4   Customer_Age      226072 non-null  object
 5   Age_Group         226072 non-null  object
 6   Customer_Gender   226072 non-null  object
 7   Country           226072 non-null  object
 8   State             226072 non-null  object
 9   Product_Category  226072 non-null  object
 10  Sub_Category      226072 non-null  object
 11  Product           226072 non-null  object
 12  Order_Quantity    226072 non-null  int64
 13  Unit_Cost         226072 non-null  int64
 14  Unit_Price        226072 non-null  int64
 15  Profit            226072 non-null  int64
 16  Cost              226072 non-null  int64
 17  Revenue           226071 non-null  float64
dtypes: float64(1), int64(6), object(11)
memory usage: 31.0+ MB

In [34]:
sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401.0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088.0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418.0

In [ ]:
#Give information about series like the  mean, standard deviation, the quantiles min, max, the type
sales['Year'].describe()

In [ ]:
sales['Profit'].plot(kind="density")

In [35]:
sales.loc[sales['Country']=='France']

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
55,2013-07-15,15,July,2013,52,Adults (35-64),F,France,Seine Saint Denis,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,427,360,787.0
56,2015-07-15,15,July,2015,52,Adults (35-64),F,France,Seine Saint Denis,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,427,360,787.0
57,2013-08-17,17,August,2013,43,Adults (35-64),F,France,Moselle,Accessories,Bike Racks,Hitch Rack - 4-Bike,28,45,120,1697,1260,2957.0
58,2015-08-17,17,August,2015,43,Adults (35-64),F,France,Moselle,Accessories,Bike Racks,Hitch Rack - 4-Bike,27,45,120,1636,1215,2851.0
65,2013-09-24,24,September,2013,32,Young Adults (25-34),M,France,Nord,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,356,270,626.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226015,2015-09-08,8,September,2015,31,Young Adults (25-34),M,France,Essonne,Clothing,Vests,"Classic Vest, M",28,24,64,1048,672,1720.0
226036,2014-07-27,27,July,2014,34,Young Adults (25-34),M,France,Essonne,Clothing,Vests,"Classic Vest, M",6,24,64,225,144,369.0
226037,2016-07-27,27,July,2016,34,Young Adults (25-34),M,France,Essonne,Clothing,Vests,"Classic Vest, M",7,24,64,262,168,430.0
226070,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260.0
226071,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207.0